:root {
  --dark-blue: #001534;
  --black: #000;
  --white: #fff;
  --gray-3: #D9E0EC;
  --dark-gray: #69788F;
  --green: #32DCA1;
  
  --text-color: var(--dark-blue);

  /*Default layout*/
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
  --default-layout-horizontal-spacer: 24px;
  
  --divider-border: 1px solid #D9E0EC;

  --chart-background: var(--gray-3);
  
}